/* .App {
    background-image: url('https://lp-cms-production.imgix.net/2021-09/Cincinnati%20bridge.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=75&dpr=1');
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */